/* General container styling */
.workout-list-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 12px;
    background: linear-gradient(145deg, #e0e0e0, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styling */
  .workout-list-header {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  /* List styling */
  .workout-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(5, auto); /* 5 rows */
    grid-gap: 20px; /* Space between items */
    padding: 0;
    list-style-type: none;
  }
  
  .workout-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .workout-item h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .workout-item button,
  .workout-item a {
    display: block;
    margin: 5px 0;
  }
  
  
  .workout-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .workout-item h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
  
  /* Add some color highlights */
  .workout-item h1::before {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #e67e22;
    margin-bottom: 10px;
  }
  